{% extends './base.html' %}
{% block content %}

<h1>{{ article.title }}</h1>
<div>
    <p>{{ article.category.name }}</p>
    <p>{{ article.content }}</p>
    {% if article.image.url is not NULL %}
    <img src="{{article.image.url}}" alt="{{ article.title }}">
    {% endif %}
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="../../static/App_Folder_css/article_detail.css">



<div class="body">

    <div id="street-view" data-latitude="{{ article.latitude }}" data-longitude="{{ article.longitude }}"></div>

    <script>
        window.onload = function() {
          initialize();  // ここで initialize 関数を呼び出す
        };
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&v=weekly" defer></script>
    <script type="module" src="../../static/js/article_detail.js"></script>

    <!-- <img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location={{article.latitude}},{{article.longitude}}&fov=80&heading=70&pitch=0&key=AIzaSyC1JzoyI8N7Ju0cccYnOVvAftcdy-c5JAg"> -->
</div>

<div>| 
    <a href='{% url "memorymap:index" %}'>一覧</a> |
    <a href='{% url "memorymap:update" article.pk %}'>編集</a> |
    <a href='{% url "memorymap:delete" article.pk %}'>削除</a> |
</div>

{% endblock %}