{% extends 'base.html' %}

{% block extra_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="my-4">{% if form.instance.pk %}投稿を編集{% else %}新しい投稿を作成{% endif %}</h1>
        <form method="post" enctype="multipart/form-data" id="post-form">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="dropzone" id="myDropzone"></div>
          <input type="hidden" id="file_ids" name="file_ids" value="">
          <button type="submit" class="btn btn-primary">{% if form.instance.pk %}更新{% else %}投稿{% endif %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
<script>
var formSubmitted = false;
var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

Dropzone.options.myDropzone = {
    url: "{% url 'memorymap:file_upload'%}",
    paramName: "file",
    maxFilesize: 100,
    maxFiles: 5,
    acceptedFiles: 'image/*,video/*,audio/*',
    addRemoveLinks: true,
    autoProcessQueue: false,
    parallelUploads: 5, //autoProcessQueue=falseの場合、defoult=2なのでmaxFilesと同値に設定
    dictDefaultMessage: "画像またはビデオをドロップするか、クリックしてファイルを選択してください。",
    init: function() {
        var myDropzone = this;

        // 投稿ボタンがクリックされたときの処理を変更
        document.getElementById("post-form").addEventListener("submit", function(e) {
            e.preventDefault();
            if (!formSubmitted) { // フラグをチェック
                formSubmitted = true; // フラグを設定
                if (myDropzone.getQueuedFiles().length > 0 && !myDropzone.processing) {
                    console.log("All files added. Processing queue...");
                    myDropzone.processQueue();
                } else {
                    this.submit();
                }
            }
        });
        this.on("sending", function(file, xhr, formData) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            formData.append("media_type", file.type.split('/')[0]); // メディアタイプを送信
        });
        this.on("success", function(file, response) {
            if (response.status === 'success') {
                var file_ids_input = document.getElementById("file_ids");
                if (file_ids_input.value) {
                    file_ids_input.value += ',' + response.file_id; // 既存の値があればカンマで区切って追加
                } else {
                    file_ids_input.value = response.file_id; // 最初のファイルIDを設定
                }
            }
        });
        this.on("queuecomplete", function() {
            document.getElementById("post-form").submit();
            formSubmitted = false;
        });
    }
};


  function updateFormFields() {
      var contentType = document.getElementById("id_content_type").value;
      var titleField = document.getElementById("id_title").parentNode;
      var thumbnailField = document.getElementById("id_thumbnail").parentNode;
  
      if (contentType === "tweet") {
          titleField.style.display = "none";
          thumbnailField.style.display = "none";
      } else {
          titleField.style.display = "block";
          thumbnailField.style.display = "block";
      }
  }

  window.addEventListener('DOMContentLoaded', (event) => {
    updateFormFields();
  });
</script>
{% endblock %}