{% extends 'base.html' %}

{% block extra_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="my-4">{% if form.instance.pk %}投稿を編集{% else %}新しい投稿を作成{% endif %}</h1>
        <form method="post" enctype="multipart/form-data" id="post-form">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="dropzone" id="myDropzone"></div>
          <button type="submit" class="btn btn-primary">{% if form.instance.pk %}更新{% else %}投稿{% endif %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
<script>
  var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  Dropzone.options.myDropzone = {
      url: "{% url 'memorymap:post_create' user.username %}",
      paramName: "file",
      maxFilesize: 5,
      maxFiles: 5,
      acceptedFiles: 'image/*,video/*',
      addRemoveLinks: true,
      dictDefaultMessage: "画像またはビデオをドロップするか、クリックしてファイルを選択してください。",
      init: function() {
          dzClosure = this;
          document.getElementById("post-form").addEventListener("submit", function(e) {
              if (dzClosure.getQueuedFiles().length > 0) {
                  e.preventDefault();
                  e.stopPropagation();
                  dzClosure.processQueue();
              } else {
                  dzClosure.uploadFiles([]);
              }
          });
          this.on("sending", function(file, xhr, formData) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            });
          this.on("sendingmultiple", function(data, xhr, formData) {
                formData.append("content", $("#id_content").val());
                formData.append("content_type", $("#id_content_type").val());
                formData.append("title", $("#id_title").val());
                formData.append("visibility", $("#id_visibility").val());
            });
      }
  };

  function updateFormFields() {
      var contentType = document.getElementById("id_content_type").value;
      var titleField = document.getElementById("id_title").parentNode;
      var thumbnailField = document.getElementById("id_thumbnail").parentNode;
  
      if (contentType === "tweet") {
          titleField.style.display = "none";
          thumbnailField.style.display = "none";
      } else {
          titleField.style.display = "block";
          thumbnailField.style.display = "block";
      }
  }

  window.addEventListener('DOMContentLoaded', (event) => {
    updateFormFields();
  });
</script>
{% endblock %}